@page "/stations"
@model GirdTheGrid2.Server.Pages.Stations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PowerStations[0].StationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerStations[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerStations[0].StationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerStations[0].EnergyOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerStations[0].StationRegion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PowerStations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyOutput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationRegion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
